* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* -------- Section Title -------- */
.section__title-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  justify-content: center;
}

.section__title-container--projects {
  height: 282px;
}

.line {
  width: 100px;
  height: 1px;
  background-color: #2C4058;
  margin-bottom: 31px;
}

.section__title {
  font-family: "Montserrat", sans-serif;
  color: #2C4058;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1.2;
  font-size: 44px;
}

/* -------- Buttons -------- */
.button {
  width: 190px;
  height: 50px;
  color: black;
  background-color: white;
  border: 1px solid #2C4058;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  margin-top: 32px;
  margin-bottom: 62px;
  transition: 0.2s;
  padding-right: 3px;
  cursor: pointer;
}

.button:hover {
  background-color: #55B7FF;
  color: #ffff;
  border: none;
}

.button:focus {
  outline: none;
}

/*-----------------------------*/
/* HEADER */
/*-----------------------------*/
.header {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
}

/* -------- Navigation -------- */
.nav {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: space-between;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  max-width: 1170px;
  width: 74vw;
  height: 54px;
  position: absolute;
  top: 53px;
}
.nav__list {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: space-between;
  max-width: 515px;
  width: 33vw;
  height: 18px;
  margin-left: 48px;
}
.nav__link-container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flexbox;
  display: -webkit-flex;
  display: flex;
  text-decoration: none;
}
.nav__link-container:last-of-type {
  margin-right: 0;
}
.nav__bullet {
  width: 9px;
  height: 9px;
  border-radius: 50%;
  border: 1px solid #FFFFFF;
  margin-right: 14px;
  margin-top: 4px;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.nav__link {
  font-family: "Source Sans Pro", sans-serif;
  color: #ffff;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  list-style: none;
  line-height: 1.3;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.nav__link-container:hover .nav__bullet {
  background: white;
}

.active {
  background: white;
}

/* -------- Socials -------- */
.socials {
  max-width: 160px;
  width: 160px;
  margin-left: 14px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: space-between;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.socials__link {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 50%;
  text-decoration: none;
  margin-left: 20px;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.socials__link:first-of-type {
  margin-left: 0;
}

.fab {
  color: white;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.socials__link:hover {
  background-color: white;
}
.socials__link:hover .fab {
  color: #55B7FF;
}

/* -------- Slider -------- */
.header__slider-container {
  width: 100vw;
  max-height: 100vh;
  height: 800px;
  background-image: url("../images/photo-1.png"), linear-gradient(225deg, #7E5AFF 16.9%, #55B7FF 83.27%);
  background-size: cover;
  padding-top: 53px;
  padding-bottom: 50px;
  margin: 0;
}

.slick-dotted.slick-slider {
  margin-bottom: 0;
}

/* -------- Vertical Dots -------- */
.vertical-dots {
  list-style: none;
  display: block;
  position: absolute;
  top: 37%;
  right: 52px;
  text-align: right;
}

.vertical-dots li {
  position: relative;
  width: 10px;
  height: 10px;
  border: 1px solid white;
  border-radius: 50%;
  margin-top: 40px;
  cursor: pointer;
}

.vertical-dots li:first-of-type {
  margin-top: 0;
}

.vertical-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 10px;
  height: 10px;
  padding: 5px;
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: none;
  background: transparent;
}

.vertical-dots li:hover {
  background: white;
}

/* -------- Header Titles -------- */
.header__title {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: space-between;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  max-height: 420px;
  height: 420px;
  margin-top: 279px;
}

.upper__content {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.main__title {
  font-family: "Montserrat", sans-serif;
  color: #ffff;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1.2;
  font-size: 80px;
  letter-spacing: 8px;
  margin-bottom: 21px;
  margin-right: 26px;
}

.subtitle {
  font-family: "Montserrat", sans-serif;
  color: #ffff;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1.2;
  font-weight: 400;
  font-size: 18px;
  letter-spacing: 5.4px;
  margin-right: 8px;
}

/* -------- Arrow Down -------- */
.arrow__container {
  cursor: pointer;
  width: 40px;
  height: 40px;
  border: 1px solid rgba(255, 255, 255, 0.7);
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 50%;
  position: absolute;
  bottom: 50px;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.fa-chevron-down {
  color: white;
  font-size: 15px;
}

.arrow__container:hover {
  background-color: white;
}
.arrow__container:hover .fa-chevron-down {
  color: #55B7FF;
}

/*-----------------------------*/
/* PROJECTS SECTION */
/*-----------------------------*/
.projects-container {
  width: 100vw;
  min-height: 100vh;
  height: 1606px;
  background: white;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

/* -------- Top & Bottom Containers -------- */
.containers__wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: space-between;
  height: 1194px;
  margin-top: -9px;
}

.text__content {
  max-width: 482px;
  width: 470px;
  height: 351px;
  margin-left: 70px;
  margin-bottom: 24px;
  align-self: flex-end;
}

.above__title {
  font-family: "Montserrat", sans-serif;
  color: #2C4058;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1.2;
  font-weight: 400;
  font-size: 22px;
}

.paragraph {
  font-family: "Open Sans", sans-serif;
  color: #2C4058;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.7;
  margin-top: 20px;
}

.adress-container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 15px;
}

.fa-map-marker-alt {
  margin-right: 10px;
  color: #2C4058;
  width: 9px;
}

.adress {
  font-family: "Open Sans", sans-serif;
  color: black;
  font-style: italic;
  font-size: 15px;
}

/* -------- Top container -------- */
.top-container {
  height: 527px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flexbox;
  display: -webkit-flex;
  display: flex;
}

.images {
  position: relative;
  width: 52.8vw;
}

.box {
  position: absolute;
  height: 29.4vw;
  width: 36.55vw;
}

.box--blue {
  background: #55B7FF;
  position: absolute;
  left: 0;
  top: 0;
}

.box--image {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 1;
  max-width: 630px;
  width: 39.4vw;
}

/* -------- Bottom container -------- */
.bottom-container {
  height: 527px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flexbox;
  display: -webkit-flex;
  display: flex;
  align-self: flex-end;
}

.text__content--bottom {
  margin-right: 58px;
  margin-left: 0;
  width: 482px;
}

.section__title--bottom {
  letter-spacing: 0.9px;
  margin-left: 1px;
}

.above__title--bottom {
  letter-spacing: 0.3px;
}

.box--purple {
  background: #7E5AFF;
  position: absolute;
  right: 0;
  top: 0;
}

.box--image--bottom {
  position: absolute;
  left: 0;
  bottom: 0;
}

.button--bottom {
  letter-spacing: 0.23px;
  padding-right: 0;
}

/*-----------------------------*/
/* NEWS SECTION */
/*-----------------------------*/
.news-container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  background: linear-gradient(225deg, #24CCFA 11.16%, #3C7FD4 89.18%);
  height: 1036px;
  position: relative;
  overflow: hidden;
  padding-bottom: 8px;
}

.line--light {
  background: #ffff;
}

.section__title--light {
  color: #ffff;
  letter-spacing: 0.5px;
}

.skyline {
  position: absolute;
  bottom: 0;
}

/* -------- Slider Container -------- */
.slider-container {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.news__slider {
  margin-top: 90px;
  max-width: 1170px;
  max-width: 73.1vw;
  height: 584px;
}

.news__slider .slick-list {
  margin: 0 -15px;
}

/* -------- Slider Dots -------- */
.slick-dots {
  bottom: -4px;
  padding-right: 5px;
}

.slick-dots li {
  width: 10px;
  height: 10px;
  border: 1px solid white;
  border-radius: 50%;
  margin-right: 35px;
}

.slick-dots li:last-of-type {
  margin-right: 0;
}

.slick-dots li:hover {
  background: white;
}

li.slick-active {
  background-color: white;
  border-radius: 50%;
  width: 10px;
  height: 10px;
}

/* -------- Slider Arrows -------- */
.arrow__box {
  width: 40px;
  height: 40px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 19px;
  cursor: pointer;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.arrow__box:hover {
  background-color: white;
}
.arrow__box:hover .arrow {
  color: #55B7FF;
}

.arrow {
  color: #ffff;
  font-size: 14px;
}

.left {
  margin-right: 60px;
}

.right {
  margin-left: 60px;
}

/* -------- News Box -------- */
.news__box {
  max-width: 370px;
  width: 23.1vw;
  max-height: 514px;
  background-color: white;
  margin: 0 15px;
}

.news__img {
  width: 100%;
}

.news__content {
  padding: 30px 20px;
}

.news__title {
  font-family: "Montserrat", sans-serif;
  color: #2C4058;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1.2;
  font-size: 22px;
  margin-bottom: 11px;
  line-height: 1.25;
}

.news__paragraph {
  line-height: 1.4;
  margin-top: 0;
  margin-bottom: 39px;
}

.person {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  height: 60px;
}

.person__img {
  border-radius: 50%;
  margin-right: 20px;
}

.person__name {
  font-family: "Montserrat", sans-serif;
  color: #2C4058;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1.2;
  font-weight: 400;
  font-size: 18px;
  margin-top: -1px;
}

.person__name--space {
  letter-spacing: 0.3px;
}

.person__date {
  font-family: "Montserrat", sans-serif;
  color: #55B7FF;
  font-size: 14px;
  line-height: 1.2;
  margin-top: 7px;
}

/*-----------------------------*/
/* GALLERY SECTION */
/*-----------------------------*/
.gallery-container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  height: 1000px;
  padding: 20px;
}

.gallery__content {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: space-between;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 723px;
}

.button--gallery {
  margin-top: 0;
  margin-bottom: 1px;
  padding-left: 4px;
}

/* -------- Gallery Grid -------- */
.images__container {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 10px;
  margin-top: 31px;
  width: 100%;
}

.img__wrapper {
  overflow: hidden;
  position: relative;
}

.img__wrapper:nth-of-type(1) {
  grid-area: 1/1/3/2;
}

.img__wrapper:nth-of-type(2) {
  grid-area: 1/2/2/3;
}

.img__wrapper:nth-of-type(3) {
  grid-area: 1/3/2/4;
}

.img__wrapper:nth-of-type(4) {
  grid-area: 2/2/3/3;
}

.img__wrapper:nth-of-type(5) {
  grid-area: 2/3/3/4;
}

.gallery__img {
  display: block;
}

.overlay {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  -moz-transition: 0.2s ease;
  -o-transition: 0.2s ease;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
  background-color: rgba(44, 64, 88, 0.2);
}

.img__wrapper:hover .overlay {
  opacity: 1;
}

/*-----------------------------*/
/* MAP SECTION */
/*-----------------------------*/
.map-wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  height: 700px;
  position: relative;
}

.map {
  height: 850px;
  width: 100vw;
}

/* -------- Contact Container -------- */
.contacts {
  width: 770px;
  height: 450px;
  background: white;
  box-shadow: 0px -4px 30px rgba(133, 133, 133, 0.2);
  position: absolute;
  bottom: -150px;
  z-index: 1;
  padding: 59px 60px 68px 60px;
}

.contacts__container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: space-between;
  margin-top: 47px;
  position: relative;
  z-index: 1;
}

.contacts__wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flexbox;
  display: -webkit-flex;
  display: flex;
  margin-bottom: 36px;
}

.contacts__icon {
  width: 10px;
  color: #7E5AFF;
  margin-right: 15px;
}

.fa-map-marker-alt {
  margin-right: 10px;
}

.fa-phone-alt {
  margin-right: 14px;
}

.fa-inbox,
.fa-clock {
  margin-top: 1.5px;
}

.contacts__paragraph {
  font-family: "Montserrat", sans-serif;
  color: black;
  font-size: 18px;
  font-weight: 400;
}

.contacts__img {
  position: absolute;
  bottom: 0;
  left: 0;
}

/* -------- Contact form -------- */
form {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.contacts__input {
  width: 310px;
  border: none;
  border-bottom: 1px solid rgba(44, 64, 88, 0.2);
  color: black;
  background-color: transparent;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  padding-bottom: 16px;
}

.contacts__input::placeholder {
  color: rgba(75, 98, 82, 0.5);
  font-weight: 400;
}

.contacts__input:focus {
  outline: none;
  border-bottom: 1px solid #2c4058;
}

.contacts__input:first-of-type {
  margin-bottom: 37px;
}

.button--submit {
  width: 140px;
  font-size: 18px;
  background-color: transparent;
  margin-top: 30px;
  padding-right: 2px;
  align-self: flex-end;
}

.button--submit:hover {
  background-color: #7E5AFF;
}

/* -------- Submitted Container -------- */
.submitted__box {
  display: none;
  width: 770px;
  height: 450px;
  background: white;
  box-shadow: 0px -4px 30px rgba(133, 133, 133, 0.2);
  position: absolute;
  bottom: -150px;
  z-index: 1;
  padding: 59px 60px 68px 60px;
  text-align: center;
}

.submitted__title {
  font-family: "Montserrat", sans-serif;
  color: #2C4058;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1.2;
  font-size: 44px;
}

/*-----------------------------*/
/* FOOTER */
/*-----------------------------*/
.footer {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background: linear-gradient(225deg, #7E5AFF -2.19%, #55B7FF 103.21%);
  height: 549px;
  position: relative;
}

.footer__content {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: space-between;
  width: 770px;
  height: fit-content;
  position: absolute;
  z-index: 1;
  margin-top: -15px;
}

.copyrights {
  font-family: "Montserrat", sans-serif;
  color: #ffff;
  font-size: 14px;
  margin-top: 38px;
}

.socials--footer {
  align-self: flex-start;
  margin-top: 6px;
}

.footer__img {
  position: absolute;
  top: 0;
  width: 100vw;
}

/*-----------------------------*/
/* MEDIA QUERIES */
/*-----------------------------*/
@media only screen and (max-width: 1400px) {
  .projects-container {
    height: 190vh;
  }

  .containers__wrapper {
    height: 140vh;
  }

  .top-container,
.bottom-container {
    height: 440px;
  }
}

/*# sourceMappingURL=style.css.map */
